.section {
  grid-area: section;
  background: url('../images/bg-curve-mobile.svg') no-repeat top;
  margin: 0 -2rem;
  margin-bottom: -5rem;
  @include laptop() {
    background: url('../images/bg-curve-desktop.svg') no-repeat top;
    margin: 0 -5rem;
  }
}