// FONTS
$font-family: 'Raleway', sans-serif;
$font-weight-400: 400;
$font-weight-700: 700;
$font-family-body: 'Open Sans', sans-serif;
$font-weight-body-400: 400;
 
// COLORS
$white: #ffffff;
$black: #333333;
$grey: #868686;
$very-dark-blue: #070439;
$desaturated-blue: #6d6ea8;
$bright-blue: #3065f8;
$light-bright-blue: #4674f3;
$moderate-cyan: #3c9f8f;
$light-moderate-cyan: #60cab8;
$light-grayish-blue: #f6f6fe;
$light-gray: #bfbfbf;